@import url('https://fonts.googleapis.com/css2?family=Lato');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-zinc-300;
}

div#root {
    @apply w-10/12 max-w-[1200px] m-auto;
}

.app-header {
    @apply font-['Lato'] font-light text-4xl py-1.5;
}

.btn {
    @apply text-base font-medium rounded-lg p-3;
}

.btn--primary {
    @apply bg-sky-500 text-white;
}

.btn--secondary {
    @apply bg-gray-100 text-gray-900;
}

.btn--search {
    @apply bg-blue-500 font-medium text-base text-white mx-2 p-2 mr-0;
}

.search-form {
    @apply p-1.5 pr-0 text-right m-auto;
    max-width: 1200px;
}

.search-form .search-input {
    @apply border-none focus:border-none rounded lowercase mr-0;
}

.search-form .search-input:focus {
    box-shadow: 0 0 transparent, 0 0 transparent, var(--tw-shadow) !important;
}

.search-form samp {
    @apply px-1.5;
}

.modal-pop {
    @apply bg-zinc-200 absolute mr-[-25%] p-4 rounded min-w-[50%] max-w-[50%]  min-h-[25%] max-h-[75%] overflow-auto;
    inset: 25% auto auto 50%;
    outline: currentcolor none medium;
    transform: translate(-50%, -50%);
}

.modal-close-btn {
    @apply block w-full text-right;
}

.edit-form {
    @apply w-4/5 m-auto;
}

.edit-form .editor-row {
    @apply my-1;
}

.edit-form .editor-row:last-of-type {
    @apply text-right;
}

.edit-form .editor-row:last-of-type .btn {
    @apply ml-2 min-w-[6rem];
}

.edit-form label {
    @apply block text-lg font-['Lato'] p-2;
}

.edit-form input[type="text"] {
    @apply w-full p-2 border-none focus:border-none rounded;
}
.edit-form input[type="text"]:focus {
     box-shadow: 0 0 transparent, 0 0 transparent, var(--tw-shadow) !important;
}

ul.flx {
    @apply flex w-9/12 m-auto;
}

ul.flx li {
    @apply flex-1 text-center;
}

.hex .city-name {
    @apply left-[50%] mr-[-25%] absolute top-[50%] p-1 bg-amber-100 border-amber-100 border-2 rounded border-solid cursor-pointer;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hex img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.hex-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
}

.hexagon-gallery {
    margin: 25px auto 50px;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 200px;
    grid-gap: 14px;
    padding-bottom: 50px;
}

.hex {
    display: flex;
    position: relative;
    width: 300px;
    height: 280px;
    background-color: #424242;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hex:first-child {
    grid-row-start: 1;
    grid-column: 2 / span 2;
}

.hex:nth-child(2) {
    grid-row-start: 1;
    grid-column: 4 / span 2;
}

.hex:nth-child(3) {
    grid-row-start: 1;
    grid-column: 6 / span 2;
}

.hex:nth-child(4) {
    grid-row-start: 2;
    grid-column: 1 / span 2;
}

.hex:nth-child(5) {
    grid-row-start: 2;
    grid-column: 3 / span 2;
}

.hex:nth-child(6) {
    grid-row-start: 2;
    grid-column: 5 / span 2;
}

.hex:nth-child(7) {
    grid-row-start: 2;
    grid-column: 7 / span 2;
}

.hex:nth-child(8) {
    grid-row-start: 3;
    grid-column: 2 / span 2;
}

.hex:nth-child(9) {
    grid-row-start: 3;
    grid-column: 4 / span 2;
}

.hex:nth-child(10) {
    grid-row-start: 3;
    grid-column: 6 / span 2;
}